<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">
      <img src="../../../assets/iconEasyMenu.png" alt="icon"> <!-- Si tienes un icono -->
      Easy Menu
    </a>
    <ul id="nav-mobile">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/recipes" routerLinkActive="active">Recipes</a></li>
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
      <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
    </ul>
  </div>
</nav>
